 body{
    margin-top: 40px;
    margin-left: 300px;
    
        background-color: #222222;
 }


h1 {
    color: rgb(238, 198, 89) ;
    font-family: sans-serif;
   margin-left: 150px;
   font-size: 50px;
}
.chessboard{

    border: 18px solid rgb(92, 91, 91);
    box-shadow: 0 2px 4px #FBD6A1, 0 8px 16px #FBD6A1;
    width: 60%;
    height: 640px;
    display: flex;
    flex-wrap: wrap;
}
.chessboard div{
   width: 10%;
   height: 80px;
   width: calc(100%/8);
   font-size: 50px;
   text-align: center;
   text-shadow: 2px 1px white;
}

.white{
    background-color: white;
}
.black{
    background-color: black;
}

